Load_Data_from_Drive_to_Pinecone.json
{
  "name": "Load Data from Drive to Pinecone",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1eYsd4n6hcCWkMPtWdk-YDNCaHaxEsco0",
          "mode": "list",
          "cachedResultName": "Google Earnings",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1eYsd4n6hcCWkMPtWdk-YDNCaHaxEsco0"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "99420fab-7794-4528-92f3-802f11a55758",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "q1b7mkuBNosFK6Td",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "04203fc2-084d-4406-9d70-ef878ddd89d1",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "q1b7mkuBNosFK6Td",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ncoursegoogleearnings",
          "mode": "list",
          "cachedResultName": "n8ncoursegoogleearnings"
        },
        "options": {
          "pineconeNamespace": "googlen8n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        440,
        0
      ],
      "id": "91fe5155-ea6d-43c7-b734-f583978a1235",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "MyBQfiG9a0vh8sps",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        220
      ],
      "id": "9827e6c7-bc06-430e-9665-152b2cc17fa2",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "1E6MS59ayTeQCbi5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "GoogleQ4",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        580,
        220
      ],
      "id": "f5c794a0-ce39-44bb-83b0-4a9e49644c2d",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f471d1ab-84c4-4ee4-ba49-4eeb82df07f6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c9bdd46e33bfe0a6fc0826273c04629c194078d71f7b4f375a5403ad7ea448a0"
  },
  "id": "KuSQY8qMdP04PfEi",
  "tags": []
}